.header__lang-link {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.17;
  font-style: normal;
  color: #fff;
  margin-right: 18px;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: .8;
  transition: opacity .3s ease-in-out;
}
