.place__title {
  font-weight: 900;
  font-style: normal;
  line-height: 1.06;
  max-width: 460px;
  font-size: 72px;
  margin: 0;
  font-family: 'Inter';
}

@media screen and (max-width: 1150px) {
  .place__title  {
    max-width: 400px;
  }
}

@media screen and (max-width: 910px) {
  .place__title  {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.10;
  }
}

@media screen and (max-width: 700px) {
  .place__title  {
    min-width: 288px;
    font-size: 32px;
    line-height: 1.09;
    padding: 0 16px;
  }
}
